body{
    background-color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0;
}


h1{
    margin: 30px auto;
    margin-top: 40px;
    padding: 15px;
    font-size: 55px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;

}

h4{
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 40px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.btn:hover{
    background-color: lightblue;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;   
    margin-top: 20px;
    max-width: 100%;
} 


.info{
    padding: 20px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.kontakt{
    margin: 15px auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    text-align: left;
    text-decoration: none;
    white-space: pre-line;

}


form{
    width: 300px;
    margin: 10px auto 0 auto;
}

label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

button:hover{
    background-color: lightblue;
}


.udaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #e0e0e0;
}

@media (max-width: 600px) {

    h1 {
        font-size: 36px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
        text-align: center;
    }

    .udaje {
        flex-direction: column;
        text-align: center;
    }
}
