body{
    background-color: lightgray;
}

h1{
    margin: 30px auto;
    margin-top: 40px;
    padding: 15px;
    font-size: 55px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;

}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.btn:hover{
    background-color: lightblue;
}

.nav{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover{
    background-color: lightblue;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.sell{
     text-align: center;
    font-size: 20px;
    font-weight: 250;
    list-style-position: inside; 
    padding-left: 0;
    margin: 0 auto;    

}

.udaje {
    display: flex;
    gap: 40px;
    margin-top: 350px;    
    margin-left: 20px;    
    font-size: 16px;
    line-height: 1.6;
}
