body{
    background-color: lightgray;
}

.logo{
    margin: 30px auto;
    margin-top: 40px;
    padding: 15px;
    font-size: 55px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;

}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.btn:hover{
    background-color: lightblue;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;   
    margin-top: 20px;
    max-width: 100%;
}


.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1000px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 160px;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
    text-align: center;
}

.card:hover{
    background-color: lightblue;
    transform: translateY(-5px);
}



.udaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #e0e0e0;
}

@media (max-width: 600px) {

    h1 {
        font-size: 36px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
        text-align: center;
    }

    .udaje {
        flex-direction: column;
        text-align: center;
    }
}
